 /* this is for the mint-coloured custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #99ffcc;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
/* end custom scrollbar */
/*
*{
font-size: 2.7vw;
font-size: 2.7vh;
}
*/
/* this makes font sizes responsive to the changes in viewport width */
@media screen and (min-width: 600px) {
  * {
     font-size: 16px;
  }
}

*/
@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}
@media screen and (min-width: 2000px) {
  body {
    font-size: 32px;
  }
}

/* end responsive font sizes */

body{
    font-size: 16px;
    font-family: Quenda-Medium;
    background: #253d52;
}

/* checkout container */
.swoy-container{
    background: #E7F3FC;
}
/* end custom container */

/* responsive navbar image */
.responsive {
  height: auto;
  width: 100%;
  max-width: 486px;
}

/* end navbar image */
/* login hover styles */
.navbar-links{
    color: #253D52;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
}

.navbar-links:hover{
    color:#007DE8;
    transition: all 0.4s ease;
    text-decoration: none;
}
/* end of login hover styles */
/* this is the search and sign up button styles*/
.navbar-toggler{
    color: #253d52;
}

.swoy-btn{
    color: #253d52;
    background-color: transparent;
    border-color: #253d52;
}

.swoy-btn:hover{
    color: white;
    background-color: #253d52;
    border-color: #253d52;
    transition: all 0.3s ease;
}
/* end of navbar button styles */
.content-section {
  background: #;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.card{
    margin-top: 20px;
    }

.signup, .signin{
    border-radius: 10px;
    width: 400px;
    padding: 30px;
    padding-bottom: 50px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#details{
    border: 2px solid grey;
    border-radius:10px;
    margin-top:100px;
    margin-left:30px;
    padding:30px;
}

#order{
    border: 2px solid orange;
    border-radius:10px;
    margin-top:100px;
    margin-left:10px;
    padding:10px;
}

#delivery{
    border:5px solid black;
    border-radius:10px;
    width:800px;
    padding:50px;
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
}

/*Search Bar Extends */
.search-box {
  width: auto;
  position: relative;
}

.input-search {
display: inline-block;
vertical-align: middle;
background-color: lightgrey;
  box-sizing: border-box;
  width: 100px;
  padding: 0 20px;
  outline: none;
  font-size: 18px;
  border-radius: 50px;
  color: #29313a;
  border: 1px;
  transition: all 0.4s ease;
}

.input-search:focus {
  width: 250px;
  background: light grey;
    border: 1px solid #007de8;
}
/*Search Bar Extends */

/* NEW FONT!! QUENDA MEDIUM */
@font-face{
font-family: 'Quenda-Medium';
src: url(Quenda-Medium.otf);
}
/*end import font*/

.product-caption{
text-align: center;
}

/* product item card style for home.html*/
.swoy-card{
    width: 16rem;
    border: 4px solid #E7F3FC;
    margin-left: 20px;
    margin-right: 20px;
}
/* end product item card */
/* checkout stylings */
.transaction-details-container, .order-details-container{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    margin-bottom: 100px;
    }
/* end checkout stylings */

/*product page stylins */
.toppings-img{
    width: 50px;
    }

.list-style-none{
    list-style: none;
    }
/* end product page styling */

.security-qns{
    font-size:14px;
    }

