.content-section {
  background: #;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.card{
    margin-top: 20px;
    }

.signup{
    border:5px solid black;
    border-radius:10px;
    width:800px;
    padding:50px;
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
}

#details{
    border: 2px solid grey;
    border-radius:10px;
    margin-top:100px;
    margin-left:30px;
    padding:30px;
}

#order{
    border: 2px solid orange;
    border-radius:10px;
    margin-top:100px;
    margin-left:10px;
    padding:10px;
}

.delivery{
    border:5px solid black;
    border-radius:10px;
    width:800px;
    padding:50px;
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
}