 /* this is for the mint-coloured custom scrollbar */
::-webkit-scrollbar {
    width: 6px;
    height: 8px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #99ffcc;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #00a399;
}
/* end custom scrollbar */
/*
*{
font-size: 2.7vw;
font-size: 2.7vh;
}
*/
/* this makes font sizes responsive to the changes in viewport width */
@media screen and (min-width: 600px) {
  * {
     font-size: 16px;
  }
}

*/
@media screen and (min-width: 320px) {
  body {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  body {
    font-size: 22px;
  }
}
@media screen and (min-width: 2000px) {
  body {
    font-size: 32px;
  }
}

/* end responsive font sizes */

body{
    font-size: 16px;
    font-family: Quenda-Medium;
    background: #253d52;
}

.nav-item{
    margin-right: 10px;
}
/* checkout container */
.swoy-container{
    background: #E7F3FC;
}
/* end custom container */

/* responsive navbar image */
.responsive {
  height: auto;
  width: 100%;
  max-width: 486px;
}

/* end navbar image */
/* login hover styles */
.navbar-links{
    color: #253D52;
    padding-right: .5rem;
    padding-left: .5rem;
    display: block;
    padding: .5rem 1rem;
}

.navbar-links:hover{
    color:#007DE8;
    transition: all 0.4s ease;
    text-decoration: none;
}
/* end of login hover styles */
/* this is the search and sign up button styles*/
.navbar-toggler{
    color: #253d52;
}

.swoy-btn{
    color: #253d52;
    background-color: transparent;
    border: 1px solid #253d52;
}

.swoy-btn:hover{
    color: white;
    background-color: #253d52;
    border-color: #253d52;
    transition: all 0.3s ease;
}
/* end of navbar button styles */
.content-section {
  background: #;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.card{
    margin-top: 20px;
    }

#details{
    border: 2px solid grey;
    border-radius:10px;
    margin-top:100px;
    margin-left:30px;
    padding:30px;
}

#order{
    border: 2px solid orange;
    border-radius:10px;
    margin-top:100px;
    margin-left:10px;
    padding:10px;
}

#delivery{
    border:5px solid black;
    border-radius:10px;
    width:800px;
    padding:50px;
    margin: auto;
    margin-top:100px;
    margin-bottom: 100px;
}

/*Search Bar Extends */
.search-box {
    width: auto;
    position: relative;
    margin-right:30px;
}

.input-search {
    display: inline-block;
    vertical-align: middle;
    background-color: lightgrey;
    box-sizing: border-box;
    width: 100px;
    padding: 0 20px;
    outline: none;
    font-size: 18px;
    border-radius: 50px;
    color: #29313a;
    border: 1px;
    transition: all 0.4s ease;
}

.input-search:focus {
    width: 250px;
    background: light grey;
    border: 1px solid #007de8;
}
/*Search Bar Extends */

/* NEW FONT!! QUENDA MEDIUM */
@font-face{
    font-family: 'Quenda-Medium';
    src: url(Quenda-Medium.otf);
}
/*end import font*/

.product-caption{
    text-align: center;
}

/* product item card style for home.html*/
.swoy-card{
    width: 16rem;
    border: 2px solid white;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.2s;
}

.swoy-card:hover {
    opacity:0.85;
    /*background: linear-gradient(to bottom, #ffffff 0%, #e7f3fc 100%);*/

}

/* end product item card */
/* checkout stylings */
.swoy-form-container, .order-details-container{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    margin-bottom: 100px;
    color: #253D52;
    }
/* end checkout stylings */

/*product page stylins */
.toppings-img{
    width: 50px;
    }

.list-style-none{
    list-style: none;
    }
/* end product page styling */

.security-qns{
    font-size:14px;
    }

/* this is for logged in username dropdown menu */
.dropbtn {
    background-color: transparent;
    border-color: #253d52;
  	cursor: pointer;
}

.dropdown-user {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #253d52;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-user:hover .dropdown-content {
  display: block;
}

.dropdown-user:hover .dropbtn {
  background-color: #253d52;
   color: white;
}
/* end logged in username dropdown menu */

.swoy-mini-text{
    color: #007DE8;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 12px;
    text-transform: uppercase;
    margin-bottom: 22px;
    padding-bottom: 6px;
    border-bottom: 2px solid #253d52;
}

.profile-label{
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
}

.profile-data{
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #007DE8;
    font-size: 16px;
    line-height: 16px;
}

.profile-row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-bottom: 28px;
}

.change-button-flex{
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-pack: end;
    justify-content: flex-end;
}


.flex-button-right {
    float: right;
    position: relative;
    }


.change-btn {
    color: #253D52;
    background-color: transparent;
    border: 1px solid #253D52;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .5px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 3px 16px;
}

.change-btn:hover{
    color: white;
    background-color: #253d52;
    border-color: #253d52;
    transition: all 0.3s ease;
    }

/* account preferences stylings */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 4px;
  background-color: rgb(0,0,0);
  background-color: rgba(28,28,28,.9);
  box-shadow: 0 2px 20px 0 rgba(0,0,0,.3);
}

/* Modal Content */
.modal-content {
  background-color: #E7F3FC;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;

}

/* The Close Button */
.close {
    height: 20px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 20px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* end modal */

.modal-form-input{
    box-sizing: border-box;
    color: black;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.fa-icon-circle{
    margin-right:8px;
    margin-bottom: 12px;
    align-items: center;
    display: flex;
    background: rgba(36,160,237,.2);
    border-radius: 50%;
    fill: #24a0ed;
    height: 48px;
    justify-content: center;
    width: 48px;
}

.update-username-title{
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
}

.update-username-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 8px;
}

.save-changes-btn{
    align-items: center; display: flex; flex-flow: row nowrap; justify-content: flex-end;
}
