{% extends "admin_base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Toppings</th>
                <th scope="col">Sugar Level</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for item in order_items %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ item[0] }}</td>
                <td>
                    <ul>
                        {% for topping in item[1] %}
                        <li style="margin-left:-20px;">{{ topping }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ item[2] }}%</td>
                <td>{{ item[3] }}</td>
                <td>${{ item[4] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <hr>
        <div style="margin-right:62px;">
            <p style="text-align:left; font-size:30px;">
                Total Price
                <span style="float:right; font-size:30px;">${{ total_price }}</span>
            </p>
        </div>
        <hr>
        <hr>
        <div>
            <a href="{{ url_for('clear_admin_orders', order_id=order_id, id=user_account[0]) }}" style="text-decoration:none;">
                <button class="swoy-btn btn btn-primary btn-block">Mark as Delivered</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}
