<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
          integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="../static/hamburgers.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../../static/favicon.ico"/>
    <title>SWOY Bubble Tea</title>
</head>

{% from "formhelper.html" import render_field %}

<body>
<nav class="navbar navbar-expand-lg row" style="background:#E7F3FC;">
    {% if user_account %}
        <a href="/home?id={{ user_account[0] }}"> <img class="navbar-brand responsive" src="../../../static/cover.png"/></a>
    {% else %}
        <a href="/home"> <img class="navbar-brand responsive" src="../../../static/cover.png"/></a>
    {% endif %}
    <!--    <button class="" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
    <!--            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"-->
    <!--            style="border: none; outline: none;">-->
    <!--        <i class="fa fa-bars hamburger-custom" aria-hidden="true"></i>-->
    <!--    </button>-->
    <button class="hamburger hamburger--collapse hamburger-custom navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation" style="outline: none;">
          <span class="hamburger-box">
            <span class="hamburger-inner">
            </span>
          </span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="text-align: center;">
<!--        <ul class="navbar-nav mr-auto">-->
<!--            <li class="nav-item active">-->
<!--                <a class="navbar-links" href="/product">Browse our menu<span class="sr-only">(current)</span></a>-->
<!--            </li>-->

<!--        </ul>-->
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav" style="margin-right:30px;">
            <div class="search-box">
                <form method="GET" action="{{ url_for('home') }}">

                    <input class="mr-sm-2 input-search" type="text" name="search" placeholder="Search" aria-label="Search"
                           style="text-align:middle">
                    {% if user_account %}
                    <input type="hidden" name="id" value="{{ user_account[0] }}">
                    {% endif %}
                    <button class="btn btn-navbar swoy-btn my-2 my-sm-0" type="submit" style="border-radius:50%;"><i
                            class="fas fa-search"></i></button>
                </form>
            </div>
            {% if user_account %}
                <li class="nav-item active">
                    <a href="#">
                        <button class="btn btn-navbar swoy-btn my-2 my-sm-0">{{ user_account[1]|safe }}</button>
                    </a>
                </li>
                <li class="nav-item active">
                    <a href="/home">
                        <button class="btn btn-navbar swoy-btn my-2 my-sm-0">Log out</button>
                    </a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a href="/login">
                        <button class="btn btn-navbar swoy-btn my-2 my-sm-0">Log in</button>
                    </a>
                </li>
                <li>
                    <a href="/signup">
                        <button class="btn btn-navbar swoy-btn my-2 my-sm-0">Sign up</button>
                    </a>
                </li>
            {% endif %}
            <li><a href="{{ url_for('cart') }}">
                <button class="btn btn-navbar swoy-btn my-2 my-sm-0"><i class="fa fa-shopping-bag"></i> Cart</button>
            </a>

            </li>
        </ul>
    </div>
</nav>

{% block content %} {% endblock %}

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>
  // Look for .hamburger
  var hamburger = document.querySelector(".hamburger");
  // On click
  hamburger.addEventListener("click", function() {
    // Toggle class "is-active"
    hamburger.classList.toggle("is-active");
    // Do something else, like open/close menu
  });

</script>
</body>
</html>
