{% extends "base.html" %}
{% from "formhelper.html" import render_field %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

{% block content %}
<div>
    <div style="margin: 100px;">
        <div class="container-fluid swoy-container swoy-form-container">
            <form method="post" class="swoy-container" action="{{ url_for('password', id=user_account[0]) }}">
                {{ password_form.csrf_token }}
                <div class="form-group col">
                    {{render_field(password_form.current_pwd, class="form-control")}}
                </div>
                <div class="form-group col">
                    {{render_field(password_form.new_pwd, class="form-control")}}
                </div>
                <div class="form-group col">
                    {{render_field(password_form.confirm_new_pwd, class="form-control")}}
                </div>
                {% if error %}
                <p class="error form-group col" style="color:red; background-color:pink; border-radius:10px;">Oops.
                    Something went wrong.</p>
                {% endif %}
                  {% if error_password %}
                <p class="error form-group col" style="color:red; background-color:pink; border-radius:10px;">{{ error_password }}</p>
                {% endif %}
                <div class="save-changes-btn">
                    <button type="submit" class="swoy-btn btn">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

