{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="row">
        {% for item in test_list %}
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="../static/{{ item.image }}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">{{ item.name }}</p>
                        </div>
                        <div class="text-center">
                            <a href="/checkout"><button class="btn btn-primary">Add to Cart</button></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <!-- Modal -->
<!--            <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"-->
<!--                 aria-hidden="true">-->
<!--                <div class="modal-dialog" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="loginModalLabel">Login</h5>-->
<!--                        </div>-->
<!--                        <div class="modal-body login-align">-->
<!--                            <form method="POST">-->
<!--                                <div class="form-group">-->
<!--                                    <label> Email: </label>-->
<!--                                    <input class="form-control" type="email" name="login_email" placeholder="name@example.com">-->
<!--                                    <label> Password: </label>-->
<!--                                    <input class="form-control" type="password" name="login_password" placeholder="secret">-->
<!--                                </div>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-primary">Login</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        {% endfor %}

    </div>
</main>

{% endblock %}
