{% extends "base.html" %}
{% block content %}
<main class="container">
    <div class="row">
        {% for item in drink_list %}
        <div class="col-md-4">
            <article class="media content-section">
                <div class="media-body">
                    <div class=" swoy-card card" style="">
                        <img class="card-img-top responsive" src="../static/{{ item.image }}" alt="Card image cap">
                        <div class="card-body">
                            <span class="card-text product-caption">{{ item.name|safe }}</span>
                            <span style="float:right;">$ {{ item.price }}</span>
                        </div>
                        <div class="text-center">
                            <a href="/checkout"><button class="btn btn-primary swoy-btn" style="margin:10px;">Add to Cart</button></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        {% endfor %}
    </div>
</main>

{% endblock %}
