{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-11">
        <div style="margin-left: 80px;">
            <div class="container-fluid swoy-container swoy-form-container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Toppings</th>
                        <th scope="col">Sugar Level</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
    <main class="container">
        <div class="row" style="margin-top:20px;">
            <div class="col-md-12">
                <article class="media content-section" style="background-color:white; ">
                    <div class="media-body" style="padding-top:10px;">
                        <h1>Nothing to see here..</h1>
                    </div>
                </article>
            </div>
        </div>
    </main>
    {% endblock %}
