{% extends "base.html" %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

{% block content %}

<div class="row">
    <div class="col-md-6">
        <div style="margin-left: 30px;">
            <div class="container-fluid swoy-container swoy-form-container">

                <h1> {{ drink[1] }} </h1>
                <img src="../static/{{ drink[3] }}" style="max-width: 500px;" class="responsive">

            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div style="margin-left: 30px;">
            <div class="container-fluid swoy-container transaction-details-container">
                <h5> Choice of Toppings: </h5>
                <form method="POST" action="{{ url_for('add_cart_item', drink_id=drink[0], user_id=user_account[0]) }}">
                    <ul>
                        {% for topping in topping_list %}
                            <li class="list-style-none"><input type="checkbox" name="toppings" value="{{ topping[0] }}"><label>&nbsp;&nbsp;{{ topping[1] }}&nbsp;( +${{topping[2]}} )</label><img src="../static/{{ topping[3] }}" class="toppings-img"></li>
                        {% endfor %}
                    </ul>
                    <hr>
                    <h5> Sugar Level: </h5>
                    <select name="sugar" id="" class="form-control" required>
                        <option value="0">0%</option>
                        <option value="25">25%</option>
                        <option value="50" selected>50%</option>
                        <option value="75">75%</option>
                        <option value="100">100%</option>
                    </select>
                    <hr>
                    <h5> Quantity: </h5>
                    <div>
                       <input class="form-control" name="quantity" type="number" step="1" min="1" value="1" required>
                    </div>
                    <hr>
                    {% if user_account %}
                        <div class="text-center">
                            <button class="btn btn-primary swoy-btn" style="margin:10px;">Add to Cart</button>
                        </div>
                    {% else %}
                        <p class="text-center">Please login to add item to cart.</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6" id="comments">
        <div style="margin-left: 30px; margin-top:-100px;">
            <div class="container-fluid swoy-container transaction-details-container">
                <h5> Comments ({{ comment_list|length }}) </h5>
                <hr>
                {% for comment in comment_list %}
                    <strong>{{ comment.author|safe }}</strong>
                    <p>{{ comment.content|safe }}</p>
                {% endfor %}
                <hr>
                {% if user_account %}
                <form method="POST" action="{{ url_for('update_comment', drink_id=drink[0], user_id=user_account[0]) }}">
                    <textarea class="form-control" rows="4" name="content" placeholder="Enter comment here..." required></textarea>
                    <div style="text-align:right; margin-top:5px;">
                        <button type="submit" class="swoy-btn btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
                {% else %}
                <p>Please login to comment.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
